#define SERIAL_DEFAULT          115200

#define WLAN_PASSWORD           ""
#define WLAN_SSID               ""

#define SENSOR_LOCATION         "Exmaple_Living_Room"

#define MESSURMENT_DELAY        60000

#define TARGET_INFLUX_SERVER    "https://example.com:443/"
#define TARGET_INFLUX_PORT      8080

#define INFLUX_AUTH_USER        ""
#define INFLUX_AUTH_PW          ""
